<h1>New order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :number_items %><br />
    <%= f.text_field :number_items %>
  </p>
  <p>
    <%= f.label :shipping_address %><br />
    <%= f.text_field :shipping_address %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>