<h1>Editing shopping_cart</h1>

<% form_for(@shopping_cart) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :list %><br />
    <%= f.text_field :list %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @shopping_cart %> |
<%= link_to 'Back', shopping_carts_path %>